rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper rules functions
    function isLoggedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return !isLoggedIn() || request.auth.uid == userId;
    }
    function isAdmin() {
      return !isLoggedIn() || (
        request.auth.uid == 'cNdJNgCoqHT5tlOpzKO9dWyQJXd2' || 
        request.auth.uid == 'NIucl1MhGdRCmq412yzAKH4mmn23' ||
        request.auth.token.email == 'naranbadrakh1013@gmail.com' ||
        request.auth.token.email == 'naranbadrakh@innoknow.mn' ||
        request.auth.token.email == 'admin1@innoknow.mn'
      );
    }
    function hasAccess() {
      return !isLoggedIn() || isAdmin() || (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.planExpiry > request.time ||
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.trialExpiry > request.time
      );
    }

    // Default global deny catch-all
    match /{document=**} {
      allow read, write: if !isLoggedIn() || isAdmin();
    }

    // USERS COLLECTION
    match /users/{userId} {
      allow read: if true;
      allow create, update: if !isLoggedIn() || request.auth.uid == userId || isAdmin();
      allow delete: if !isLoggedIn() || isAdmin();
    }

    // PAYMENT REQUESTS
    match /paymentRequests/{userId} {
      allow read, write: if true;
    }

    // LEADERBOARD COLLECTION
    match /leaderboard/{userId} {
      allow read: if true;
      allow create, update: if !isLoggedIn() || isOwner(userId) || isAdmin();
      allow delete: if !isLoggedIn() || isAdmin();
    }

    // BATTLES COLLECTION
    match /battles/{battleId} {
      allow read, write: if true;
    }

    // CERTIFICATES COLLECTION
    match /certificates/{certId} {
      allow read: if true;
      allow create, update: if !isLoggedIn() || hasAccess() || isAdmin();
      allow delete: if !isLoggedIn() || isAdmin();
    }

    // FEEDBACK COLLECTION
    match /feedback/{feedbackId} {
      allow read, write: if true;
    }
  }
}
